@import '../../../assets/scss/utils.scss';

.Container {
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.gutter {
  padding-left: 16px;
  padding-right: 16px;

  @include mq($breakpoint-desktop) {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.fullHeight {
  height: 100%;
}

// SIZES

.full {
  width: 100%;
}

.wide {
  max-width: 1200px;
}

.large {
  max-width: 1000px;
}

.medium {
  max-width: 700px;
}

.small {
  max-width: 500px;
}