@import "~antd/dist/antd.css";

// Antd global overrides
.ant-form-item {
  margin-bottom: 16px;
}

// Force fill whole screen height
html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1 1;
  height: 100%; 
}
