@import "~antd/dist/antd.css";
@import "./utils.scss";

// Antd global overrides
.ant-form-item {
  margin-bottom: 16px;
}

// Force fill whole screen height
html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 1;
  height: 100%;
  overflow: auto;
  margin-bottom: 16px;
  @include mq($breakpoint-desktop) {
    margin-bottom: 24px;
  }
}


// Scrollbar
* {
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0f0 #e1e1e1e1;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #f0f0f0f0;
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb {
  background-color: #e1e1e1e1;
  border-radius: 16px;
} 
