@import '../../assets/scss/utils.scss';


.Thumbnail {
  height: 0;
  overflow: hidden;
  padding-top: 56%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 16px;
}

.TitleWrapper {
  margin-bottom: 16px;
}

.Title {
  margin-right: 16px;
}

.BookImages {
  margin-bottom: 16px;
}

@include mq($breakpoint-desktop) {
  .TitleWrapper {
    display: flex;
    align-items: center;

    .Title {
      margin-bottom: 0;
    }
  }  
}