@import '../../../assets/scss/utils.scss';

.Badge {
  display: inline;
  padding: 5px 15px;
  border-radius: 5px;
  max-height: 32px;
  width: auto;
  color: white;
}

.green {
  background-color: green;
}

.yellow {
  background-color: orange;
}

.red {
  background-color: red;
}