@import '../../../assets/scss/utils.scss';

.RequestLayout {
  display: flex;
  flex-direction: column;
}

.Request {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.RequestDetails {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $color--grey-light;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  h2 {
    margin-bottom: 8px;
    margin-right: 16px;
  }
}

.Actions {
  margin-bottom: 8px;
  button:not(:last-child) {
    margin-right: 8px;
  }
}

.ViewBookLink {
  display: block;
}

.Messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  flex-grow: 1;
  overflow: auto;
}

.MessageInput {
  display: flex;
  margin-top: auto;
}
