@import '../../../assets/scss/utils.scss';

.RequestLayout {
  display: flex;
  flex-direction: column;
}

.Request {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.RequestDetails {
  padding-bottom: 8px;
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  h2 {
    margin-bottom: 8px;
    margin-right: 16px;
  }
}

.Actions {
  margin-bottom: 8px;
  button:not(:last-child) {
    margin-right: 8px;
  }
}

.Messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  flex-grow: 1;
  overflow: auto;
}

.MessageWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #f0f0f0;
  padding: 8px;
  align-self: flex-start;
  margin-bottom: 8px;
  margin-right: 8px;
}

.MessageInput {
  display: flex;
  margin-top: auto;
}


.Message {
  .MessageBody {
    display: block;
  }

  .MessageTimestamp {
    display: block;
    font-size: 10px;
  }
}

.Avatar {
  margin-right: 8px;
}

.reverse {
  &.MessageWrapper {
    justify-content: flex-end;
    align-self: flex-end;
  }

  .Message {
    text-align: right;
  }

  .Avatar {
    margin-left: 8px;
    order: 2;
  }
}
